body {
    background-color: #280054;
    color: white;
    font-family: 'Arial', sans-serif;
   
    text-align: center;
  }
  
  #container {
    background-color: #280054;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #image {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  #headp {
    font-size: 148px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px; /* Increased margin-top */
    margin-bottom: 20px; /* Added margin-bottom for extra space */
    position: absolute;
    white-space: nowrap;
    animation: moveAcross 20s linear infinite;
    color:#280054
  }
  
  @keyframes moveAcross {
    0% { left: -100%; }
    50% { left: 100%; }
    100% { left: -100%; }
  }

  h2{
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    color: white;
    text-shadow: 0 0 10px rgba(240, 82, 228, 0.8); /* Glowing effect */
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  form {
    margin-top: 20px;
  }
  
  form label {
    color: white;
    font-size: 18px;
  }
  
  form input[type="number"] {
    padding: 10px;
    border: none;
    background-color: #1E1136;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  form button {
    padding: 10px 20px;
    border: none;
    background-color: #cb52f0;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }
  
  form button:hover {
    background-color: #9f1bc1;
  }
  
  
  
  #results {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    background-color: #1E1136;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px rgba(240, 82, 228, 0.8);
    }
    to {
      text-shadow: 0 0 20px rgba(240, 82, 228, 0.9);
    }
  }
  #submit {
    margin-top: 20px;
    padding: 10px 20px;
   
    border:4px solid white; /* Border color and width */
    background-color: #280054; /* Background color */
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0; /* Make square */
    text-decoration: none;
  }
  
  #submit:hover {
    background-color: #9f1bc1;
    border-color: #000000; /* Border color on hover */
  }
  
  #usn{
    font-size: larger;
    font-family: 'Arial', sans-serif;

  }